<!DOCTYPE html>
<html>
<head>
  <title>Chatroom</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = "assets/css/chattest.css")}}">
  {{ moment.include_jquery() }}
  {{ moment.include_moment() }}
</head>

<body>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.0/socket.io.min.js"></script>
    <div class="menu">
        <div class="back"><a href = "{{url_for('auth.dashboard')}}"><i class="fa fa-chevron-left"></i> <img src="{{ user.gravatar(size = 256)}}" draggable="false"/></a></div>
        <div class="name">{{user.firstname}}</div>
        <div class="last">{{ moment(current_time).format('LLL') }}</div>
        <a href="{{ url_for('twitter.getTweets') }}"><button style = "float : right;" id = "tweetbtn" class = "btn">Chat no : {{ chat_id }}</button></a>
    </div>
    <ol class="chat">
      <!--the dynamic list of chats goes here-->
        {% for message in fetchedChat %}
        <li class = "other">
          <div class="avatar"><img src="{{ message.messenger.gravatar() }}" draggable="false"/></div>
          <div class="msg">
            <h5><a href = "{{url_for('main.user_profile', user_id = message.messenger_id)}}">{{ message.sender_name }}</a></h5>
            {{ message.messages }}
            <time>{{ message.time }}</time>
          </div>
        </li>
        <br>
        {% endfor %}
    </ol>
        <input class="textarea" type="text" placeholder="Type here!" id = "usermsg"/><div class="emojis"></div>
        <div id = "sendbtn"></div>

        <script type = "text/javascript" charset="utf-8">
        $(document).ready(function(){
        window.scroll(0, document.height);
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function(){
          //console.log('connected!');
          socket.emit('joined',{'joinmsg' : '{{user.firstname}} Connected!'});
        });

        // join msg
        socket.on('status', function(connectmsg){
          $('.chat').append('<li class = "other">' + '<div class="avatar"><img src="{{ user.gravatar() }}" draggable="false"/></div>' + '<div class = "msg">' +  connectmsg.joinmsg + '</div>' + '</li>' + '\n');
          console.log(connectmsg);
        });

        // sending a message
        $('#sendbtn').on('click',function(){
          var text = $('#usermsg').val();
          console.log(text);
          $('#usermsg').val('');
          socket.emit('text',text);
        });
        socket.on('show', function(message){
          console.log('Received');
          console.log(message);
          $('.chat').append('<li class = "self">' + '<div class="avatar"><img src="{{ user.gravatar() }}" draggable="false"/></div>' + '<div class = "msg">' + '<h5>' + message.messenger +  '</h5>' +  message.msg + '</div>' + '</li>' + '\n');
        });
    //             socket.on('status', function(data) {
        //  $('#messages').append('<li>' + data.msg + '</li>');

    //             });
    //             socket.on('message', function(data) {
        //  $('#messages').append('<li>' + data.msg + '</li>' + '\n');

    //             });

        //    $('#sendbtn').on('click',function(){
        //  text = $('#myMessage').val();
        //    $('#myMessage').val(' ');
        //    socket.emit('text', {msg: text});
        // });
    //         });

      });
        </script>
  </body>
</html>