<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<ul id = "messages">
			<p>the messages will go here.</p>
		</ul>
		<input type = "text" id = "myMessage" placeholder = "Message">
		<button id = "sendbtn">send</button>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.0/socket.io.min.js"></script>
		

		<script type = "text/javascript" charset="utf-8">
				$(document).ready(function(){
				var socket = io.connect('http://' + document.domain + ':' + location.port);
				socket.on('connect', function(){
					console.log('connected!');
					socket.send('{{user.firstname}} Connected!');
				});

				socket.on('message', function(msg){
					$('#messages').append('<li>' + msg + '</li>' + '\n');
					console.log('Received message');
				});
    //             socket.on('status', function(data) {
				// 	$('#messages').append('<li>' + data.msg + '</li>');

    //             });
    //             socket.on('message', function(data) {
				// 	$('#messages').append('<li>' + data.msg + '</li>' + '\n');

    //             });

				//  	$('#sendbtn').on('click',function(){
				// 	text = $('#myMessage').val();
				// 		$('#myMessage').val(' ');
				// 		socket.emit('text', {msg: text});
				// });
    //         });

			});

		</script>
	</body>
</html>