<!DOCTYPE html>
<html>
    <head>
        {% block head %}
       <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = "assets/materialize/css/materialize.min.css")}}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style type="text/css">
        .navbar-wrapper{
            background-color: #0099ff;
        }
        #grids div{
            margin-left: 1%;
        }
        </style>
        {% endblock %}
    </head>

    <body>
       <div class = "navbar-fixed">
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="{{url_for('main.profile')}}">Profile</a></li>
              <li><a href="#!">IDK</a></li>
              <li class="divider"></li>
              <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
            </ul>
            <nav>
                <div class = "nav-wrapper light-blue darken-2">
                    <a href="{{url_for('index')}}" class="brand-logo">Debatify</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>Hello, {{ current_user.firstname }}</li>
                        <li><a href="#modal1" class = "waves-effect waves-light btn modal-trigger">Raise a question</a></li>
                        <li><a href="#!">Poll</a></li>
                        <!--Dropdown trigger-->
                        <li><a href="#!" class = "dropdown-button" data-activates = "dropdown1">Account<i class="material-icons right">&bull;</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>