{% extends "me.html" %}

{% block head %}
{{ super () }}
	<style>
		/*.col{
			background-color: #e3e3e3;
		}*/
	</style>
	{{ moment.include_jquery() }}
  	{{ moment.include_moment() }}
{% endblock %}

{% block title %}Profile{% endblock %}
{% block signed_in_as %}Signed in as : {{user.username}}{% endblock %}
{% block questions %}<br>{% endblock %}
{% block page_content %}
<div class = "container">
<div class = "row">
	<div class = "col s3">
		<div><img src="{{ user.gravatar(size = 200) }}" alt = "profile-picture"></div>
	</div>
	<div class = "col s8">
		<div class = "card-panel blue-text text-darken-2">
			<div class = "flow-text"> Name : {{user.firstname}} {{user.lastname}}</div>
			<div class = "flow-text"> Email : {{user.email}}</div>
			<div class = "flow-text"> Username : {{user.username}}</div>
			<div class = "flow-text"> Location : {{ user.location }}</div>
			<div class = "flow-text"> Member since : {{ moment(user.member_since).format('LLL') }}</div>
			<div class = "flow-text"> Last Seen : {{ moment(user.last_seen).fromNow() }}</div>
			<div class = "flow-text">About : {{user.about_me }}</div>
		</div>
	</div>
<a href = "{{url_for('main.edit')}}"><button class = "col s1 btn red lighten-2">Edit</button></a>
</div>
</div>
{% endblock %}