<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}Dashboard{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = "assets/materialize/css/materialize.min.css")}}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href = "{{url_for('static', filename = "assets/css/card.css")}}">
        {% endblock %}
    </head>

    <body>
        <div class = "container">
        </div>
            <!-- Dropdown Structure -->
            {% block navbar %}
        <div class = "navbar-fixed">
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="{{url_for('main.profile')}}">Profile</a></li>
              <li><a href="{{url_for('auth.yourquestions')}}">Your Questions</a></li>
              <li class="divider"></li>
              <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
            </ul>
            <nav>
                <div class = "nav-wrapper light-blue darken-2">
                    <a href="{{url_for('auth.dashboard')}}" class="brand-logo">Debatify</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>{% block signed_in_as %}Hello, {{ current_user.firstname | title }}{% endblock %}</li>
                        <li><a href="#modal1" class = "waves-effect waves-light btn cyan modal-trigger">Raise a question</a></li>
                        <li><a href="#!" class = "btn cyan">Poll</a></li>
                        <!--Dropdown trigger-->
                        <li><a href="" class = " cyan btn dropdown-button" data-activates = "dropdown1">Account<i class="material-icons right">&bull;</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        {% endblock %}
        <!--Navbar end-->
        <!--Grids-->
        {% block questions %}
        <div class = "main">
            {% for f in fetchedTopic %}
                <div class = "card">
                    <h5 class = "question"><a href = "{{url_for('main.chatroom', chat_id = f.id)}}">{{ f.questions }}</a></h5>
                    <div class = "hashtags">#life&nbsp;#science&nbsp;#travel&nbsp;#philosophy</div>
                    {% if image %}
                    <img src="img/background3.jpg">
                    {% endif %}
                    <button id = "upvotebtn">Up</button>
                    <div class = "poll">.</div>
                    <div class = "link"><a href="{{url_for('main.chatroom', chat_id = f.id)}}">Discussion room</a></div>
                    <div class = "externals"><span>Comments : 67</span>&nbsp;<span>Views : 24</span></div>
                </div>
            {% endfor %}
        </div>
        {% endblock %}
        <!--Grids end-->
        <!--Modal-->
<!--           <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
 -->        <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <div class="row">
                <form class="col s12" action = "{{url_for('main.index')}}" method = "POST">
                  <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" name = "question-textarea"></textarea>
                      <label for="textarea1">Topic</label>
                    </div>
                    <div class = "col s12">
                      <label for="topic">Question</label>
                      <textarea id="topic" class="materialize-textarea" name = "topic-textarea"></textarea>
                    </div>
                  </div>
            <div class="modal-footer">
              <button class=" modal-action modal-close waves-effect waves-green btn-flat" id = "raisebtn" onsubmit = "submit" onclick = window.location.href = "{{url_for('auth.dashboard')}}">Raise</button>
            </div>
                </form>
                </div>
            </div>
          </div>
        <!--Modal end-->
        {% block page_content %}{% endblock %}
        {% block scripts %}
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src = "{{url_for('static',filename = "assets/materialize/js/materialize.min.js")}}"></script>
        <script src = "{{url_for('static',filename = "assets/js/welcome.js")}}"></script>
        {% endblock %}
    </body>
</html>