<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = "assets/materialize/css/materialize.min.css")}}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style type="text/css">
        .navbar-wrapper{
            background-color: #0099ff;
        }
        #grids div{
            margin-left: 1%;
        }
        </style>
    </head>

    <body>
        <div class = "container">
        </div>
            <!-- Dropdown Structure -->
        <div class = "navbar-fixed">
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="#!">Profile</a></li>
              <li><a href="#!">IDK</a></li>
              <li class="divider"></li>
              <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
            </ul>
            <nav>
                <div class = "nav-wrapper light-blue darken-2">
                    <a href="{{url_for('index')}}" class="brand-logo">Debatify</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>Hello, {{ firstname }}</li>
                        <li><a href="#modal1" class = "waves-effect waves-light btn modal-trigger">Raise a question</a></li>
                        <li><a href="#!">Poll</a></li>
                        <!--Dropdown trigger-->
                        <li><a href="#!" class = "dropdown-button" data-activates = "dropdown1">Account<i class="material-icons right">&bull;</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!--Navbar end-->
        <!--Grids-->
        <ul class="collapsible popout" data-collapsible="accordion" id = "accordion">
            <!--The dynamic list part comes here-->
        </ul>
        <!--Grids end-->
        <!--Modal-->
<!--           <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
 -->        <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <div class="row">
                <form class="col s12" action = "{{url_for('main.index')}}" method = "POST">
                  <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" name = "question-textarea"></textarea>
                      <label for="textarea1">Question</label>
                    </div>
                    <div class = "col s12">
                      <label for="topic">Topic</label>
                      <textarea id="topic" class="materialize-textarea" name = "topic-textarea"></textarea>
                    </div>
                  </div>
            <div class="modal-footer">
              <button class=" modal-action modal-close waves-effect waves-green btn-flat" id = "raisebtn" onsubmit = "submit">Raise</button>
            </div>
                </form>
                </div>
            </div>
          </div>
        <!--Modal end-->

        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src = "{{url_for('static',filename = "assets/materialize/js/materialize.min.js")}}"></script>
        <script src = "{{url_for('static',filename = "assets/js/welcome.js")}}"></script>
    </body>
</html>