<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Debatify</title>
		<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = "assets/css/bootstrap.min.css")}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = "assets/materialize/css/materialize.css")}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = "assets/css/style.css")}}">
	</head>

	<body>
		<!--header part-->	
		<div class = "backcolor">
			<header class = "navbar header">
				<div class = "inlineheader">
					<div class = "logo">
						<p>Debatify</p>
					</div>
					<div class = "signopt">
						<button class = "btn " id = "signinbtn"><a href = "{{url_for('auth.login')}}">Sign in</a></button>
						<button class = "btn" id = "signupbtn"><a href = "{{url_for('auth.register')}}">Sign up</button>
						<img src="{{url_for('static',filename = "assets/img/searchbtn.png")}}">
						<a href="#" data-activates="slide-out" class="button-collapse" id ="sideNavbtn"><i class="material-icons">menu</i></a>
					</div>

				</div>

			</header>
		</div>

		<!--end header-->
		<!--main part-->

	<ul id="slide-out" class="side-nav">
	    <div class="userView">
	    	<h2 class = "side-nav-head">Debatify</h2>
	    </div>
	    <li><a href="{{url_for('index')}}">Home</a></li>
	    <li><a href="{{url_for('auth.about')}}">About</a></li>
	    <li><a class="waves-effect" href = "{{url_for('auth.terms')}}">Terms</a></li>
	    <li><a href="{{url_for('auth.privacy')}}">Privacy Policy</a></li>
	    <!-- <li><div class="divider"></div></li>
	    <li><a class="subheader">Subheader</a></li> -->
   	</ul>
  

		<div class = "main">
			{#{% if current_user.is_authenticated %}
				<h3>Hello, {{ firstname }}</h3>
			{% else %}
				<h3>Hello, Stranger</h3>
			{% endif %}#}
			<h3>Debate it out!</h3>
			<h1>Because you too can express!</h1>
			{#<div class = "social">
				<img src="{{url_for('static', filename = "assets/img/twitterbird2.png")}}">
				<img src="{{url_for('static',filename = "assets/img/fb2.png")}}">
			</div>#}
		</div>

		<!--end main part-->
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src = "{{url_for('static', filename ="assets/materialize/js/materialize.min.js")}}"></script>
		<script src = "{{url_for('static', filename = "assets/js/sideNav.js")}}"></script>
	</body>
</html>